* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-color-primary: #f7dd43;
  --card-title-border-color: #746615;
  --card-bg-color: #1d1c19;
  --bg: url(./assets/bg-yellow.svg);
  
  font-size: 62.5%;
}

body.blue {
  --card-color-primary: #338af3;
  --card-title-border-color: #338af3;
  --card-bg-color: #202024;
  --bg: url(./assets/bg-blue.svg);
}

body.green {
  --card-color-primary: #047c3f;
  --card-title-border-color: #047c3f;
  --card-bg-color: #1a1f1b;
  --bg: url(./assets/bg-green.svg);
}

ul {
  list-style: none;
}

body {
  background: #121214 var(--bg) no-repeat top center/cover;
}

body * {
  font-family: 'Roboto', sans-serif;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 5.2rem;
}

header {
  text-align: center;
  margin-bottom: 6.3rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 3.2rem;
}

.card {
  padding: 3.2rem 2.3rem;
  text-align: center;

  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: .6rem;
}

.card h2 {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;

  padding: .8rem 1.6rem;
  border: 1px solid var(--card-title-border-color);
  border-radius: .6rem;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 5.3rem;

  color: #f7dd43;
  font-size: 2rem;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  width: 27rem;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li span {
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 125%;

  color: #e1e1e6;
}

.card ul li + li {
  padding-top: 2.4rem;
  border-top: 1px solid #323238;
}

.card ul li span:hover,
.card ul li img:hover,
.card h2:hover {
  transform: scale(1.1);
}

.card ul li span,
.card ul li img,
.card h2 {
  transition: transform 0.2s;
}

.card {
  animation: appear 0.5s;
}

/* @keyframes appear {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */

@media (min-width: 700px) {
  .cards {
    max-width: 67rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}