* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-color-primary: hsl(51, 92%, 62%);
  --card-title-border-color: hsl(51, 69%, 27%);
  --card-bg-color: hsl(45, 7%, 11%);
  --bg: url(./assets/bg-yellow.svg);

  --button-bg: hsl(45, 7%, 11%);
  --button-font-color: hsl(240, 2%, 51%);

  font-size: 62.5%;
}

/* Themes */

body.Blue {
  --card-color-primary: hsl(213, 89%, 58%);
  --card-title-border-color: hsl(213, 89%, 58%);
  --card-bg-color: hsl(240, 6%, 13%);
  --bg: url(./assets/bg-blue.svg);
}

body.Green {
  --card-color-primary: hsl(150, 94%, 25%);
  --card-title-border-color: hsl(150, 94%, 25%);
  --card-bg-color: hsl(132, 9%, 11%);
  --bg: url(./assets/bg-green.svg);
}

body {
  font-family: 'Roboto', sans-serif;
  background: hsl(240, 5%, 7%) var(--bg) no-repeat top center/cover;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 5.2rem;
}

header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 6.3rem;
}

.change-theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 23.5rem;
}

.change-theme__select {
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;
  width: 13rem;

  font-weight: 700;
  background: var(--button-bg);
  border: none;
  border-radius: 0.4rem;

  color: var(--button-font-color);
}

.change-theme__select:focus {
  background-color: hsl(30, 3%, 14%);
  outline: none;
}

.change-theme__button {
  padding: 0 1rem;
  height: 2.5rem;

  font-size: 1.25rem;
  font-weight: 700;

  border: 2.25px solid var(--button-font-color);
  border-radius: 0.5rem;

  background: var(--button-bg);
  color: var(--button-font-color);

  transition: 0.2s all ease;
}

.change-theme__button:hover {
  cursor: pointer;

  background-color: hsl(0, 0%, 13%);
  transform: scale(1.1);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 3.2rem;
}


.card {
  padding: 3.2rem 2.3rem;
  text-align: center;
  
  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 0.6rem;
}


.card {
   animation: appear 0.5s; 
}

@keyframes appear {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card h2 {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;

  padding: 0.8rem 1.6rem;
  border: 1px solid var(--card-title-border-color);
  border-radius: 0.6rem;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 5.3rem;

  color: hsl(51, 92%, 62%);
  font-size: 2rem;
}

.card h2 span {
  color: hsl(240, 9%, 89%);
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 27rem;

  list-style: none;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li span {
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 125%;

  color: hsl(240, 9%, 89%);
}

.card ul li + li {
  padding-top: 2.4rem;
  border-top: 1px solid hsl(240, 6%, 21%);
}

.card ul li span:hover,
.card ul li img:hover,
.card h2:hover {
  transform: scale(1.1);
}

.card ul li span,
.card ul li img,
.card h2 {
  transition: transform 0.2s;
}


@media (min-width: 700px) {
  .cards {
    max-width: 67rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  header {
    flex-direction: row;
  }
}
